body{
   background-color: black; 
}

nav{
    height: 10vh;
    
    margin-left: 500px;
    
    padding: 500px;
    
    text-align: center;
}



.spa{
    
    font-family: 'Sunshiney', cursive;
    
    font-size: 25px;
    
    margin: 1.5% 3% 0 3%;
    
    color: white;
    
    align-items: center;
    
    display: inline-block;
    
    
}

/* Techo */
header{
    height: 20vh;
    
    background-image: url(img/pared_1.png);
    
    background-size: 100% 100%;
}

/* Ojos */
.heade{
    margin: auto;
    
    width: 8%;
    height: 60%;
    background-repeat:no-repeat;
    
    background-image: url(img/Ojo.png);
    background-size: 100% 100%;
}


.asidi{
    background-image: url(img/pared_izquierda.png);
    
    background-size: 100% 100%;
    
    height: 90vh;
    
    width: 20vw;
    
    float: left;
}

.asidr{
    background-image: url(img/pared_derecha.png);
    
    background-size: 100% 100%;
    
    height: 90vh;
    
    width: 20vw;
    
    float: right;
}


.cua{
    width: 45%;
    height: 30%;
    
    margin-top: 35vh;
    margin-left: 20%;
    
    background-image: url(img/moge_3.png);
    
    background-size: 100% 100%;
}

.foote{
    
    width: 400px;
    height: 40vh;
    
    margin: auto;
    margin-top: 30vh;
    
}


.imi{
    
    width: 50%;
    height: 40vh;
    
    background-image: url(img/Niko.png);
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
    
    float: left;
}

.imr{
    
    width: 30%;
    height: 40vh;
    
    
    background-image: url(img/Viola.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    float: right;
}


@media screen and (max-width:900px){
    
    .heade{
        width: 12%;
    }
    
    
}


@media screen and (max-width:666px){
    
    .heade{
        width: 17%;
    }
    
    
}

@media screen and (max-width:562px){
    
    .heade{
        width: 25%;
    }
    
    .foote{
        
        width: 70vw;
        height: 30vh;
        
    }
    
    .spa{
        margin-left: 2%;
        margin-right: 2%;
    }
    
}